.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #373658 49.32%, #000000 96.79%);
    border-radius: 50px;
}
.playArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 46px;
    position: absolute;
    width: 30%;
    min-width: 400px;
    height: calc(100vh - 20px);
    left: 100px;
    top: 10px;
    background: #373658;

    background-color: none;
    transition: 0.5s;
    .btn-arrow {
        position: absolute;
        right: 20px;
        top: 50px;
        padding: 5px 8px;
        border-radius: 50%;
        border: none;
        box-shadow: 0px 3px 10px rgba(196, 196, 196, 0.25);
    }
}
.SongsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 42px;
    gap: 30px;

    position: absolute;
    width: calc(70% - 110px);
    min-width: 600px;

    height: calc(100vh - 20px);
    right: 10px;
    top: 10px;

    background: #fff;
    border-radius: 46px;
    transition: 0.5s;
    .btn-arrow {
        position: absolute;
        left: 20px;
        top: 50px;
        padding: 5px 8px;
        border-radius: 50%;
        border: none;
        box-shadow: 0px 3px 10px rgba(196, 196, 196, 0.25);
    }
}
.hidden {
    transform: translate(calc(100vw - 110px), 0px);
}
.fullsite {
    width: calc(100vw - 110px);
    z-index: 1;
    transition: 0.5s;
}
.content {
    width: 100%;
 
}
